@import url(https://gistcdn.githack.com/anonymous/56df28e2c21312897938dbd4ac166c85/raw/79b9ed1eef37be97a23cac4551ef42f88495dae6/streamster.css);
@import url(https://gistcdn.githack.com/anonymous/cc6860dc8c2bb398f4431888c345a608/raw/643a8eafbabfde71c077428842c41c7acb5c2de8/outrun-light.css);
@import url(https://voat.co/Content/Dark);
*:not(.author):not(.title):not(.pagename):not(.arrow-upvote):not(.arrow-downvote):not(body):not(.footer-container):not(#mail){
	color:purple !important;
	background:rgba(5,0,4,1) !important;
	border-color:yellow
}

.author{
	color:cyan !important;
	font-family:Streamster;
	font-size:18px;
	line-height:1.2em
}

.title{
	color:white !important;
	text-shadow:0 0 3px cyan;
	font-family:Outrun;
	font-size:14px !important
}

.pagename{
	text-shadow:1px 3px 0 red;
	font-weight:bold;
	font-family:Outrun;
	font-size:24px
}

.domain{
	font-size:.8em;
	line-height:normal
}

.domain > a{
	color:white !important;
	width:auto;
	text-indent:4px
}

#header-container{
	border-bottom-color:black !important
}

.footer-container{
	background:rgba(0,0,0,0)
}

.footer{
	border-radius:5px;
	border:1px solid;
	border-color:red !important
}

#container{
	border-color:yellow !important
}

#nightmodetoggle, .drop-arrow{
	display:none
}

.sr-list > .sr-bar:not(.whoaSubscriptionMenu) {
    display:none;
}

body{
	background:url(https://i.imgur.com/fu5RgsM.jpg) !important
}

